.classpath
.settings
.project
springboot/target
.pmd
.checkstyle
.metadata
*versionsBackup
*releaseBackup
release.properties
*.kdb.lock
*.orig
*.iml
*.log
*.ipr
*.iws
*.pyc
.idea
*/.idea/*
*~
.cache
on-override.properties
out
*.toto
dev-resources

gatling/target
